%ul#menubar.hmenu.hidden
	= render 'menus/home'
	= render partial: 'menus/courses', locals: {courses: Course.in_catalog}
	= render partial: 'menus/faculty', locals: {teachers: Teacher.current.asc(:last_name).asc(:first_name)}
	- if user_signed_in?
		= render 'menus/manage'
	= render 'menus/username'

:coffeescript
	$(document).ready ($) ->
		$('#menubar').removeClass('hidden')
		$('#menubar').MegaMenu
				rowItems: 4
				speed: 'fast'
				effect: 'fade'
				event: 'click'
