#asst_form
	= simple_form_for assignment, validate: true, method: method do |af|
		%fieldset
			%table#sas
				%caption Sections
				%thead
					%tr
						%th.block Block
						%th.due_date Due date
						%th.use Use?
				%tbody
					= af.simple_fields_for :section_assignments do |saf|
						%tr
							%td.block
								= saf.object.block
								= saf.input :block, disabled: true, label: false, input_html: {size: 1}, as: :hidden
							%td.due_date
								- if browser.chrome?
									= saf.input :due_date, as: :datepicker, label: false, input_html: { size: 14, value: saf.object.due_date.strftime("%m/%d/%Y") }
								- else
									= saf.input :due_date, as: :datepicker, label: false, input_html: { size: 12, type: "date", value: saf.object.due_date.strftime("%m/%d/%Y") }
							%td.assigned= saf.input :assigned, label: false, as: :boolean
							= saf.input :section_id, as: :hidden
		%fieldset#bottom
			= af.input :name, input: { size: 20 }, required: true
			= af.input :content, as: :ckeditor, input_html: { height: 400, toolbar: "Full" }, label: false, required: true
		%button#save= af.submit "Save"
		%button#cancel= af.submit "Cancel"

:coffeescript
	$(document).ready ->
		$("input.datepicker").each (i) ->
			$(this).datepicker
				altField: $(this).next()
				altFormat: 'yy-mm-dd'
				format: 'mm-dd-yy'
