#new_assignment
	= simple_form_for @assignment do |f|
		%fieldset#top
			= f.input :teacher_id, as: :hidden
			%table
				%thead
					%tr
						%th.block Block
						%th.due_date Due date
						%th.use Use?
				%tbody
					= f.simple_fields_for :section_assignments, @sas do |ff|
						%tr
							%td.block= ff.input :block, disabled: true, label: false, input_html: {size: 1}
							%td.due_date= ff.input :due_date, as: :datepicker, label: false, input_html: { size:10, value: ff.object.due_date.strftime("%m/%d/%Y") }
							%td.use= ff.input :use, label: false, as: :boolean
							=ff.input :section, as: :hidden
			%fieldset#bottom
				.table
					%span.tr
						#tags.td
							%b="Major tags"
							= f.input :major_tags, collection: options_for_select(@course.major_tags), input_html: {size: [10, @course.major_tags.count].min, multiple: true}, label: false
							/ =select 'assignment', "major_tags", options_for_select(@course.major_tags), {size: [10, @course.major_tags.count].min, multiple: true} 
						#assignment.td
						.name= f.input :name, input: { size: 20 }
						.content= f.input :content, as: :ckeditor, input_html: { height: 400, toolbar: "Full" }, label: false
		%button.f.submit Save
