%div#assignments
	%div#header= assignments_header(@section)
	%div.generic-msg!= @section.teacher.generic_msg

	= render partial: 'assignments/assignment_table', obj: @current_assignment, as: :assignments, locals: {caption: @section.teacher.current_msg }
	= render partial: 'assignments/assignment_table', obj: @upcoming_assignments, locals: {caption: @section.teacher.upcoming_msg }
	= render partial: 'assignments/assignment_table', obj: @past_assignments
	
- content_for :page_header do
	= @section.course.full_name
- content_for :title do
	= "#{@section.course.full_name}, Block #{@section.block}"

