= semantic_form_for @section, validate: true do |f|
	= f.semantic_errors :state
	= f.inputs "Fields", :id => 'fields' do
		= f.input :number, label: 'Section number'
		= f.input :semester, as: :select, 
			collection: Section.semesters
		= f.input :block, as: :select,
			collection: Section.blocks
		= f.input :occurrences, as: :check_boxes,
			collection: Section.occurrences
		= f.input :room, label: 'Room'
	= f.actions do
		= f.action :submit
		= f.action :reset
		= f.action :cancel

		