= simple_form_for resource, as: resource_name, url: session_path(resource_name), validate: true, remote: true do |f|
	%fieldset
		= f.input :login, required: true, autofocus: true, input_html: {size: 20}, validate: { presence: true, size: {minimum: 3}, user_exists: true }
		= f.input :password, required: true, input_html: {size: 20},  validate: { presence: true, size: {minimum: 3} }
		= f.input :remember_me, required: false, as: :boolean if devise_mapping.rememberable?
	%links
		= render "users/shared/links"

:coffeescript
