%tr.assignment
	%td.name= sa.assignment.name
	%td.due_date= assignment_date_string(sa.due_date)
	%td.asst-content!= sa.assignment.content
	- if editable?
		%td.assigned= check_box_tag "", 1, sa.assigned, disabled: true
		%td
			= button_to "Edit", edit_assignment_path(sa.assignment), method: :get
			= button_to "Delete", "/assignments/#{sa.assignment.to_param}", method: :delete, confirm: "Are you sure?"
