#assignments
	- unless @section.teacher.generic_msg.empty?
		#generic-msg!= @section.teacher.generic_msg
	= render partial: 'sections/assignment_set', locals: {table_id: 'current', sas: @scurrent, message: @section.teacher.current_msg, title: 'Current assignment'}
	= render partial: 'sections/assignment_set', locals: {table_id: 'upcoming', sas: @upcoming, message: @section.teacher.upcoming_msg, title: 'Upcoming assignments'}
	= render partial: 'sections/assignment_set', locals: {table_id: 'past', sas: @past, message: "", title: 'Past assignments'}
	
- content_for :page_header do
	= render partial: 'shared/course_link', locals: {course: @section.course}
- content_for :page_title do
	= "#{@section.course.full_name}, Block #{@section.block}"

