#assignments.content
	#generic-msg!= @section.teacher.generic_msg

	.assignment-block
		.title Current assignment
		- if @section.current_assignment.count > 0
			#current-msg!= @section.teacher.current_msg
			%table#current
				= render partial: 'sections/assignment_table', locals: { sas: @section.current_assignment }
		- else
			%i None
	
	.assignment-block
		.title Upcoming assignments
		- if @section.upcoming_assignments.count > 0
			#upcoming-msg!= @section.teacher.upcoming_msg
			%table#upcoming
				= render partial: 'sections/assignment_table', locals: {sas: @section.upcoming_assignments }
		- else
			%i None

	.assignment-block
		.title Past assignments
		- if @section.past_assignments.count > 0
			%table#past
				= render partial: 'sections/assignment_table', locals: { sas: @section.past_assignments }
		- else
			%i None
	
- content_for :page_header do
	= render partial: 'shared/course_link', locals: {course: @section.course}
- content_for :title do
	= "#{@section.course.full_name}, Block #{@section.block}"
- content_for :content_header do
	= @section.page_header
	
:coffeescript
	$(document).ready ->
		$("#current").dataTable
			bJQueryUI: true
			bFilter: false
			bInfo: false
			bPaginate: false
			bSort: false
			aoColumnDefs: [
				sWidth: "5em"
				aTargets: [0]
			,
				sWidth: "6em"
				aTargets: [1]
			]

		$("#upcoming").dataTable
			bJQueryUI: true
			bFilter: false
			bInfo: false
			bPaginate: false
			bSort: false
			aoColumnDefs: [
				sWidth: "5em"
				aTargets: [0]
			,
				sWidth: "6em"
				aTargets: [1]
			]

		$("#past").dataTable
			bJQueryUI: true
			bFilter: false
			bInfo: false
			bPaginate: true
			bSort: false
			iDisplayLength: 2
			bLengthChange: true
			iDeferLoading: true
			aLengthMenu: [[
				2, 5, 10
			], [2,5,10,"All"]]
			aoColumnDefs: [
				sWidth: "5em"
				aTargets: [0]
			,
				sWidth: "6em"
				aTargets: [1]
			]
			