#teacher-page 
	- if @teacher[:photo_url]
		#teacher-pic
			%img{src: @teacher[:photo_url]}
	#courses
		%h3 Courses
		%ul
			=render partial: 'shared/course_item', collection: @teacher.courses, as: :course
	#other-links

- content_for :page_title do
	= "#{Settings.school} #{Settings.department} | Teachers | #{@teacher.full_name}"
- content_for :page_header do
	= @teacher.full_name
