.content#sign-in 
	%h2 Sign in

	= simple_form_for(resource, as: resource_name) do |f|
		.form-inputs#form-inputs
			= f.input :login
			= f.input :password, required: true
			- if devise_mapping.rememberable?
				= f.label :remember_me
				= f.check_box :remember_me
		.form-actions#form-actions
			= f.submit 'Sign in'
		= render "devise/shared/links"

