#sections_pane.pane-content
	#info
		%span.text= "Course #{course.number} — #{duration_string(course.duration)}"
	#description
		!= course.doc_of_kind(:description).content
	#leadin
		= "In the #{academic_year_string(Settings.academic_year)} academic year there #{is_are_number_mangler(course.sections.current.count, 'section')} of #{course.full_name}."

	%div= render partial: 'courses/sections_table', locals: {course: course}
