/ %meta{charset: "utf-8"}
- content_for :page_header do
	= @course.full_name

- content_for :page_title do
	= @course.full_name
#tabs
	%ul
		- if @section
			%li#assignments
				%a{href: assignments_pane_path(@section)}= "Assignments for #{@course.full_name}, Block #{@section.block}"
		%li.sections
			%a{href: get_course_pane_path(@course, :sections)} Sections
		%li.information
			%a{href: get_course_pane_path(@course, :information)} Information
		%li.resources
			%a{href: get_course_pane_path(@course, :resources)} Resources
		%li.policies
			%a{href: get_course_pane_path(@course, :policies)} Policies
		%li.home
			%a{href: get_course_pane_path(@course, :news)} News
#editor

:coffeescript
	$(document).ready ->
		editor = $('#editor')	

		setupTabEditor = (editor, tabDiv) ->
			editor.dialogForm "init",
				width: 700
				height: 600
				ckid: 'course_document_content'

			editor.on 'savedAndClosed', (evt, url) ->
				pn = $(tabDiv).tabs "option", "active"
				$(tabDiv).tabs 'load', pn
				
		setupTabEditor editor, '#tabs'
			
		$("#tabs").tabs
			event: 'click'
			load: (evt, ui) ->
				btns = $('.edit-button', ui.panel)
				editor.dialogForm 'bindLinks', $('.edit-button', ui.panel)
