- content_for :page_title, "Assignment Browser"
- content_for :page_header, "Assignment Browser"

#asst-browser
	#search_filter
		= select_tag 'Year', year_options_for_search, prompt: "Year"
		= select_tag 'Course', course_options_for_search, prompt: "Course"
		= select_tag 'Teacher', teacher_options_for_search, prompt: "Teacher"
		= select_tag 'Block', block_options_for_search, prompt: "Block"
		#filter_button.ui-button= button_tag "Filter assignments"

	%table#sa-browser
		%thead
			%tr
				%th Year
				%th Course
				%th Teacher
				%th Block
				%th Date due
				%th Name
				%th Assignment
			
:coffeescript
	$(document).ready ->
		year = ""
		course = ""
		teacher = "" 
		block = ""
		$("#sa-browser").dataTable
			bjQueryUI: true
			bPaginate: true
			bLengthChange: true
			bFilter: true
			bDeferRender: true
			bServerSide: true
			bSort: true
			bSearchable: true
			bInfo: true
			bStateSave: true
			bProcessing: true
			bAutoWidth: false
			bLengthChange: false
			bFilter: true
			sAjaxSource: '/section_assignments/retrieve'
			iDisplayLength: 50
			aaSorting: [[0, 'desc'], [1, 'asc'], [2, 'asc'], [3, 'asc'], [4, 'asc']]
			sDom: 'W<"clear"><"H"lr>t<"F"ip>'
			oColumnFilterWidgets: 
				aiExclude: [4,5,6,7,8]
			aoColumnDefs: [
				aTargets: [0]
				sName: 'year'
				sWidth: "4em"
			,
				aTargets: [1]
				sName: 'course'
				iDataSort: 7
			,
				aTargets: [2]
				sName: 'teacher'
				iDataSort: 8
			,
				aTargets: [3]
				sName: 'block'
				bSearchable: false
			,
				sName: 'due_date'
				aTargets: [4]
				bSearchable: false
			,
				sName: 'name'
				aTargets: [5]
				bSearchable: false
			,
				sName: 'content'
				aTargets: [6]
			,
				sName: 'course_id'
				aTargets: [7]
				bSearchable: false
			,
				aTargets: [8]
				sName: 'teacher_id'
				bSearchable: false
			,
				aTargets: [7, 8]
				bVisible: false
			,
				bSortable: false
				aTargets: [3,4,5,6]
			, 
				bSearchable: false
				aTargets: [0,1,2,3,4,5,6]
			]
			fnServerParams: (aoData) ->
				aoData.push
					name: "sFilter_0"
					value: year
				aoData.push
					name: "sFilter_1"
					value: course
				aoData.push
					name: "sFilter_2"
					value: teacher
				aoData.push
					name: "sFilter_3"
					value: block
				
		$('select#Year').on 'change', (evt) ->
			year = evt.target.value
			
		$('select#Teacher').on 'change', (evt) ->
			teacher = evt.target.value
		
		$('select#Course').on 'change', (evt) ->
			course = evt.target.value
		
		$('select#Block').on 'change', (evt) ->
			block = evt.target.value

		$('#filter_button').on 'click', ->
			oTable = $("#sa-browser").dataTable();
			oTable.fnDraw();
		
/ oTable = $("#sa-browser").dataTable()
/ oTable.fnSortListener document.getElementById('sorter'), 0, ->
/ 	alert("got sort hook")
	
/ $(".year select", 'thead').change ->
/ 	oTable = $("#sa-browser").dataTable();
/ 	oTable.fnFilter $(this).val(), 0
/ 	oTable.fnDraw();

/ :javascript
/ 	function initSABrowser() {
/ 		$('#sa-browser').dataTable( {
/ 			"bjQueryUI": true,
/ 			"bPaginate": true,
/ 			"bFilter": true,
/ 			"iDisplayLength": 20,
/ 			"bServerSide": true,
/ 			"sAjaxSource": '/section_assignments.json',
/ 			"aoColumnDefs": [
/ 				{ "sName": "year", "aTargets": [ 0 ] },
/ 				{ "sName": "course", "aTargets": [ 1 ] }
/ 			]
/ 		})
/ 	}
/ 			