#sign-in-dialog
	%h2 Sign in
	= simple_form_for resource, as: resource_name, url: session_path(resource_name) do |f|
		.form-inputs#form-inputs
			= f.input :login, required: true, autofocus: true
			= f.input :password, required: true
			= f.input :remember_me, as: :boolean if devise_mapping.rememberable?
		.form-actions#form-actions
			= f.submit 'Sign in'
		= render "devise/shared/links"

:coffeescript
	$("#sign-in-dialog").dialog
	  autoOpen: false
	  height: 300
	  width: 350
	  modal: true
