!!!
%html
	%head
		%title= content_for?(:page_title) ? (yield :page_title) : "Fix me!"
		= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Lekton|Schoolbell|Noticia+Text:400,400italic,700,700italic|Oxygen:400,700', media: "all"
		= stylesheet_link_tag "application", media: "all"
		/ = stylesheet_link_tag "application-screen", media: "screen"
		/ = stylesheet_link_tag "application-print", media: "print"
		= javascript_include_tag "application"
		
		= csrf_meta_tags

	%body
		/ #signinform.nodisplay= render partial: 'users/sessions/signin_form'
	
		%header#page_header= content_for?(:page_header) ? (content_for :page_header) : "Fix me!"
		= render 'menus/menubar'
		%div#main.clear
			- if content_for? :content_header
				%header.content-header= content_for :content_header
			%section.content
				= yield

/ :coffeescript
/ 	$(document).ready ->
/ 		$('#signinform')
/ 		.removeClass('nodisplay')
/ 		.addClass('block-display')
/ 		.dialog
/ 			autoOpen: false
/ 			width: 500
/ 			height: 300
/ 			modal: true
/ 			resizable: true
/ 			buttons: 
/ 				'Sign in': -> $('form', '#signinform').submit()
/ 				'Cancel': -> 	$('#signinform').dialog "close"
/ 
/ 		$('#signin')
/ 		.bind( 'click', (evt) ->
/ 			$('#signinform').dialog "open")
