!!!
%html
	%head
		%title= content_for?(:page_title) ? (yield :page_title) : "Fix me!"
		= stylesheet_link_tag  'http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700italic,600italic,400italic,700,600,300italic,300|Coming+Soon|Lora:400,400italic,700,700italic', media: "all"
		= stylesheet_link_tag "application-all", media: "all"
		/ = stylesheet_link_tag "application-print", media: "print"
		= stylesheet_link_tag "application-screen", media: "screen"
		/ [if eq IE 7]
			/ = stylesheet_link_tag "ie/ie7", media: "all"
		/ [if eq IE 8]
			/ = stylesheet_link_tag "ie/ie8", media: "all"
		= javascript_include_tag "application"
		
		= csrf_meta_tags

	%body
		%header
			#page_header= content_for?(:page_header) ? (content_for :page_header) : "Fix me!"
		= render partial: 'menus/menubar'
		#signinform.nodisplay= render 'shared/signinform'
		%div#main.clear
			- if content_for? :content_header
				%header
					.content-header= content_for :content_header
			#sign-in-dialog
				/ = render partial: 'users/sessions/form'
			.content
				= yield


:coffeescript
	close_signin_dialog = ->
		$('#signinform').dialog "close"
		
	handle_signin_submit = ->
		form = $('form', '#signinform')[0]
		form.submit()

	create_dialog = ->
		$('#signinform').dialog
			autoOpen: false
			width: 500
			height: 350
			modal: true
			resizable: false
			buttons: 
				'Sign in': handle_signin_submit
				'Cancel': close_signin_dialog

	$(document).ready ->
		$('#signinform').removeClass('nodisplay').addClass('block-display')
		create_dialog()
		$('#signin').bind 'click', (evt) ->
			$('#signinform').dialog "open"
