!!!
%html
	%head
		%title= content_for?(:title) ? (yield :title) : "The title"
		= stylesheet_link_tag  'http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|PT+Sans+Narrow:400,700|PT+Mono|PT+Serif:400,700,400italic,700italic&subset=latin,latin-ext', media: "all"
		= stylesheet_link_tag "application-print", media: "print"
		= stylesheet_link_tag "application-screen", media: "screen"
		= stylesheet_link_tag "application-all", media: "all"
		/ [if eq IE 6]
			= stylesheet_link_tag "application-ie6", media: "all"
		/ [if eq IE 7]
			= stylesheet_link_tag "application-ie7", media: "all"
		= javascript_include_tag "application"
		
		= csrf_meta_tags
	%body
		#page_header= content_for?(:page_header) ? (yield :page_header) : "The header"
		= render_menubar

		%div#main
			- if content_for? :content_header
				.content-header= content_for :content_header
			= yield
