!!!
%html
	%head
		%title= content_for?(:title) ? (yield :title) : "The title"
		= stylesheet_link_tag  'http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|PT+Sans+Narrow:400,700|PT+Mono|PT+Serif:400,700,400italic,700italic&subset=latin,latin-ext', media: "all"
		= stylesheet_link_tag "application-all", media: "all"
		= stylesheet_link_tag "application-print", media: "print"
		= stylesheet_link_tag "application-screen", media: "screen"
		/ [if eq IE 7]
			= stylesheet_link_tag "ie7", media: "all"
		= javascript_include_tag "application"
		
		= csrf_meta_tags

	%body
		#page_header= content_for?(:page_header) ? (content_for :page_header) : "The header"
		= render partial: 'menus/menubar'
		%div#main
			- if content_for? :content_header
				.content-header= content_for :content_header
			= render partial: 'user_sessions/sign_in'
			= yield

:coffeescript
	$(document).ready ->
		$("#sign-in-dialog").dialog
		  autoOpen: false
		  height: 300
		  width: 350
		  modal: true
